body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 200px;
    margin: auto;
    margin-top: 10%;
}

.num {
    border: 1px solid #fff;
    background-color: #f4f4f4;
    padding: 20px;
    width: auto;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.num:hover {
    background-color: #c2e4f5;
    cursor: pointer;
}
.selected, .empty {
    background-color: #5d5d5d;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 1.7em;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.bingocombi{
    font-size: 2em;
    padding: 20px;
}